{% extends 'layouts/a.html' %}
{% block content %}

<body class="login-page">
<div class="items-box">
    <div class="card-header text-center">
    <div class="card-body">
        <form class="login-form" action="{% url 'create_staff' %}" method="POST">
            <h2 class="text-2xl font-bold text-center mb-6">{% if form.instance.pk %}Edit{% else %}Create{% endif %} Staff</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">submit</button>
            {% if form.errors %}
                <p style="color: red;">{{ form.non_field_errors }}</p>
            {% endif %}
        </form>
    </div>
    </div>
</div>
{% endblock %}