{% extends 'layouts/a.html' %}
{% block content %}

<div class="create-container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Create Items</h3>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="card-body">
                        {% if error %}
                        <div class="alert alert-danger">{{ error }}</div>
                        {% endif %}
                        <div class="form-group">
                            <label>Item Name</label>
                            <input type="text" name="name" class="form-control" placeholder="Item Name" required>
                        </div>
                        <div class="form-group">
                            <label>Item Status</label>
                            <select name="item_status" class="form-control" required>
                                <option value="Available">Available</option>
                                <option value="Out Of Stock">Out of Stock</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Item Quantity</label>
                            <input type="number" name="quantity" class="form-control" placeholder="Item Quantity" required>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
