{% extends 'layouts/a.html' %}
{% load static %}
{% block content %}

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row mb-2">
                                <div class="col-sm-10">
                                    <h1>Items</h1>
                                </div>
                                <div class="col-sm-2">
                                    <button class="mb-3 text-white px-4 py-2 rounded hover:bg-blue-600">
                                        <a href="{% url 'create_items' %}">Create Items</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Item Status</th>
                                        <th>Item Quantity</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in items %}
                                    <tr>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.item_status }}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>
                                            <!-- Edit Modal-->
                                            <a class="btn btn-primary" href="javascript:void(0);" onclick="editItem('{{ item.id }}', '{{ item.name }}', '{{ item.quantity }}', '{{ item.item_status }}')" data-toggle="modal" data-target="#modal-{{ item.id }}">Edit </a>

                                            <div class="modal fade" id="modal-{{ item.id }}">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Edit Item</h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form id="editForm-{{ item.id }}" method="POST" action="{% url 'edit_items' item.id %}">
                                                                {% csrf_token %}
                                                                <input type="hidden" id="itemId-{{ item.id }}" name="item_id">
                                                                <div class="mb-3">
                                                                    <label for="itemName" class="form-label">Item Name</label>
                                                                    <input type="text" class="form-control" id="itemName-{{ item.id }}" name="name" required>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="itemStatus" class="form-label">Item Status</label>
                                                                    <select class="form-control" id="itemStatus-{{ item.id }}" name="status" required>
                                                                        <option value="Available" {% if item.item_status == 'Available' %}selected{% endif %}>Available</option>
                                                                        <option value="Out Of Stock" {% if item.item_status == 'Out Of Stock' %}selected{% endif %}>Out of Stock</option>
                                                                    </select>
                                                                    
                                                                    </div>
                                                                <div class="mb-3">
                                                                    <label for="itemQuantity" class="form-label">Item Quantity</label>
                                                                    <input type="number" class="form-control" id="itemQuantity-{{ item.id }}" name="quantity" required>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer justify-content-between">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                            <button type="submit" form="editForm-{{ item.id }}" class="btn btn-primary">Save changes</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--Delete Modal-->
                                            <a class="btn btn-danger" href data-toggle="modal" data-target="#deleteModal-{{ item.id }}">Delete</a>

                                            <div class="modal fade" id="deleteModal-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel-{{ item.id }}" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="deleteModalLabel-{{ item.id }}">Confirm Delete</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Are you sure you want to delete "{{ item.name }}"
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                            <form method="POST" action="{% url 'delete_items' item.id %}">
                                                                {% csrf_token %}
                                                                <button type="submit" class="btn btn-danger">Delete</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            


                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- pagination -->
                        
                        <div class="card-header">
                            <div class="card-title">
                                <div class="card-tools">
                                    <div class="pagination pagination-sm">
                                        <li class="page-item">
                                            <a href="#" class="page-link">«</a>
                                        </li>
                                        <li class="page-item">
                                            <a href="#" class="page-link">1</a>
                                        </li>
                                        <li class="page-item">
                                            <a href="#" class="page-link">2</a>
                                        </li>
                                        <li class="page-item">
                                            <a href="#" class="page-link">3</a>
                                        </li>
                                        <li class="page-item">
                                            <a href="#" class="page-link">4</a>
                                        </li>
                                        <li class="page-item">
                                            <a href="#" class="page-link">5</a>
                                        </li>
                                        <li class="page-item">
                                            <a href="#" class="page-link">»</a>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
function editItem(id, name, quantity, status) {
    document.getElementById('itemId-' + id).value = id;
    document.getElementById('itemName-' + id).value = name;
    document.getElementById('itemQuantity-' + id).value = quantity;
    document.getElementById('itemStatus-' + id).value = status;
}
</script>

{% endblock %}