{% extends 'layouts/a.html' %}
{% block content %}


<div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="static/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div>

    <div class="items-box width">
        <div class="card-header text-center">
        <div class="card-body">
            <div class="flex items-center justify-between">
                <h2>Items</h2>
                <button class="mb-3 text-white px-4 py-2 rounded hover:bg-blue-600"><a href="{% url 'create_items' %}">Create Item</a></button>
            </div>
            <table class="table-auto w-full border-collapse border border-gray-300">
                <thead>
                    <tr>
                        <th class="border border-gray-300 px-4 py-2 text-left">Name</th>
                        <th class="border border-gray-300 px-4 py-2 text-left">Item Status</th>
                        <th class="border border-gray-300 px-4 py-2 text-left">Item Quantity</th>
                        <th class="border border-gray-300 px-4 py-2 text-left">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td class="border border-gray-300 px-4 py-2">{{ item.name }}</td>
                        <td class="border border-gray-300 px-4 py-2">{{ item.item_status }}</td>
                        <td class="border border-gray-300 px-4 py-2">{{ item.quantity }}</td>
                        <td class="border border-gray-300 px-4 py-2">
                            <a href="{% url 'edit_items' item.id %}">Edit |</a>
                            <a href="{% url 'delete_items' item.id %}">Delete</a>
                        </td>
                    </tr>     
                    {% endfor %}            
                </tbody>           
            </table>
        </div>
        </div>
    </div>


{% endblock %}