{% extends 'layouts/a.html' %}
{% block content %}

    <div class="items-box">
        <div class="card-header text-center">
        <div class="card-body">
            <div class="flex items-center justify-between">
                <h2>Item Requests</h2>
                <button class="mb-3 text-white px-4 py-2 rounded hover:bg-blue-600"><a href="{% url 'create_item_requests' %}">Create Request</a></button>
                </div>
                <table class="table-auto w-full border-collapse border border-gray-300">
                    <thead>
                        <tr>
                            <th  class="border border-gray-300 px-4 py-2 text-left">Staff</th>
                            <th  class="border border-gray-300 px-4 py-2 text-left">Item</th>
                            <th  class="border border-gray-300 px-4 py-2 text-left">Request Status</th>
                            <th  class="border border-gray-300 px-4 py-2 text-left">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item_requests in item_requests %}
                        <tr>
                            <td class="border border-gray-300 px-4 py-2">{{ item_requests.staff }}</td>
                            <td class="border border-gray-300 px-4 py-2">{{ item_requests.item }}</td>
                            <td class="border border-gray-300 px-4 py-2">{{ item_requests.request_status }}</td>
                            <td class="border border-gray-300 px-4 py-2">
                                <a href="{% url 'edit_item_requests' item_requests.id %}">Edit |</a>
                                <a href="{% url 'delete_item_requests' item_requests.id %}">Delete</a>
                            </td>
                        </tr>
                         {% endfor %}                  
                    </tbody>           
                </table>
        </div>
        </div>
    </div>

{% endblock %}