{% extends 'layouts/a.html' %}
{% block content %}

    <div class="items-box">
        <div class="card-header">
        <div class="card-body">
            <div class="flex-row">
                <h2>Staff Details</h2>
                <button class="mb-3 text-white px-4 py-2 rounded hover:bg-blue-600"><a href="{% url 'create_staff' %}">Create Staff</a></button>
            </div>
            <table class="table-auto w-full border border-gray-300">
                <thead>
                    <tr>
                        <th  class="border border-gray-300 px-4 py-2 text-left">First Name</th>
                        <th class="border border-gray-300 px-4 py-2 text-left">Last Name</th>
                        <th class="border border-gray-300 px-4 py-2 text-left">Email</th>
                        <th class="border border-gray-300 px-4 py-2 text-left">Phone Number</th>
                        <th class="border border-gray-300 px-4 py-2 text-left">Department</th>
                        <th class="border border-gray-300 px-4 py-2 text-left">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for staff in staff %}
                    <tr>
                        <td class="border border-gray-300 px-4 py-2">{{ staff.first_name }}</td>
                        <td class="border border-gray-300 px-4 py-2">{{ staff.last_name }}</td>
                        <td class="border border-gray-300 px-4 py-2">{{ staff.email }}</td>
                        <td class="border border-gray-300 px-4 py-2">{{ staff.phone_number }}</td>
                        <td class="border border-gray-300 px-4 py-2">{{ staff.department }}</td>
                        <td class="border border-gray-300 px-4 py-2">
                            <a href="{% url 'edit_staff' staff.id %}">Edit | </a>
                            <a href="{% url 'delete_staff' staff.id %}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}               
                </tbody>           
            </table>
        </div>
        </div>
    </div>

{% endblock %}