{% extends 'base_login.html' %}
{% block content %}

    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a href="#" class="h1"><b>Register </b>Page</a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Register a new membership</p>
  
        <form method="post">
          {% csrf_token %}
          <div class="input-group mb-3">
            <input type="text" name="username" class="form-control" placeholder="Username" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="email" name="email" class="form-control" placeholder="Email" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" name="password" class="form-control" placeholder="Password" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" name="password_confirm" class="form-control" placeholder="Retype Password" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="agreeTerms" name="terms" value="agree" required>
                <label for="agreeTerms">
                 I agree to the <a href="#">terms</a>
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Register</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
  
        
        <div class="social-auth-links text-center mt-3 mb-3">
          <a href="#" class="btn btn-block btn-primary" style="height: 50px; display: flex; justify-content: center; align-items: center;">
              <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
          </a>
          <a href="#" class="btn btn-block btn-danger" style="height: 50px; display: flex; justify-content: center; align-items: center;">
              <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
          </a>
        </div>
  
        <a href="{% url 'login' %}" class="text-center">I already have a membership</a>

        {% if messages %}
          <ul class="messages-danger">
              {% for message in messages %}
                  <li class="{{ message.tags }}" style="color: red; font-weight: bold;">
                      {{ message }}
                  </li>
              {% endfor %}
          </ul>
        {% endif %}

      </div>
      <!-- /.form-box -->
    </div><!-- /.card -->
 

{% endblock %}
